page-reservas-admin {
    ion-content{
        background-image: url("http://estareservado.ctrlztest.com.ar/imgApp_Reservo/bg1.jpg");
        background-size: cover;
    }
    .item{
        background-color: transparent;
    }
}
