page-perfil-admin {
    ion-content{
        background-image: url("http://estareservado.ctrlztest.com.ar/imgApp_Reservo/bg2.jpg");
        background-size: cover;
    }
    .grid{
        margin: 0 !important;
        width: 100% !important;
    }
    ion-card-content{
        margin: 0;
        width: 100%;
    }
    ion-footer {
        ion-icon {
            font-size: 30px;
            margin: 20px;
        }
    }
}
