<ion-header>
  <ion-navbar color="dark">
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1 style="margin-left: 20px;">{{mostrarDia()}}</h1>
  <h3 *ngIf=invitados[0] style="text-align: center;">{{invitados[0].nombrevento}}</h3><!--harcor => desde el cliente loggeado-->
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngFor="let invitado of invitados">
    <ion-item (click)="goToDetalleReserva(invitado, this)">
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>{{invitado.nombreusuario}} {{invitado.usuarioapellido}}</h2>
      <p>{{invitado.usuariodni}}</p>
    </ion-item>
  </ion-list>
</ion-content>
