page-list-invited {
    ion-content{
        background-image: url("http://estareservado.ctrlztest.com.ar/imgApp_Reservo/bg2.jpg");
        background-size: cover;
    }
    .item{
        background-color: transparent;
    }
    ion-icon{
        font-size: 40px;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }    
}

